APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB_CONNECTION=
# DB_HOST=
# DB_PORT=
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_DEFAULT_REGION=
# AWS_BUCKET=
# AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=
MEILISEARCH_NO_ANALYTICS=false

NG_WORDS=ぶっかけ,射精,セックス,オナニー,乱交,夢精,ケモナー,シコって,抜いて,おもらし,ケモショタ,精液,大便,顔射,勃起,ペニス,ちんちん,ちんぽ,ブリーフ,アナル,自慰行為,金玉,肛門,オムツ,失禁,風俗
UPLOAD_PERMISSION_USERNAME=upload
LOCK_KEYWORD=lock
UNLOCK_KEYWORD=unlock

UPLOAD_SESSION_KEY=upload
SENTENCE_SESSION_KEY=sentence

TEST_DB_CONNECTION=
TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_DATABASE=
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
